li{

	list-style: none;
}

a{
	text-decoration: none; 
	color: rgb(204, 204, 204)
}

.nav-leader{

	display: flex; 
	align-items: center; 
	justify-content: space-around; 
	height: 8vh; 
	background: rgb(0, 33, 65);
}

.nav-leader-brand {

	text-transform: uppercase;
}

.nav-menu-leader {

	display: flex; 
	align-items: center; 
	justify-content: space-around; 
	gap: 3rem;
}

.nav-toggler-leader{

	display: none;
}

.nav-toggler-leader div {

	width: 2.5rem; 
	height: 0.2rem; 
	margin: 0.4rem; 
	background: rgb(204, 204, 204); 
	transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {

	.nav-toggler-leader {

		display: block; 
		cursor: pointer;
	}

	.nav-menu-leader {

		position: fixed; 
		top: 7vh; 
		right: 0; 
		height: 80vh; 
		width: 50vw; 
		background: rgb(0, 33, 65); 
		flex-direction: column; 
		transform: translateX(100%); 
		transition: 0.5s ease-in;
	}
}

.nav-active-leader {

	transform: translateX(0%);
}

.toggle-leader .line1{

	transform: rotate(-45deg) translate(-4px, 5px); 
}

.toggle-leader .line2{

	opacity: 0;
}

.toggle-leader .line3 {

	transform: rotate(45deg) translate(45deb) translate(-4px, -5px);
}

